<!doctype html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>OK-Frontend</title>
  <link rel="stylesheet" href="../static/css/information.css">
  <link rel="stylesheet" href="../static/css/normalize.css">
  <!-- <link href="https://fonts.cdnfonts.com/css/montserrat" rel="stylesheet"> -->
</head>

<body>
  <header class="header">
    <div class="container header__container">
      {% load static %}
      <a href="#"><img src="../static/img/logo.svg" alt="Логотип" class="header__logo"></a>
      <ul class="header__list list-reset navigation">
        <li class="navigation__item"><a href="./demand.html">востребованность</a></li>
        <li class="navigation__item"><a href="./geography.html">география</a></li>
        <li class="navigation__item"><a href="./skills.html">навыки</a></li>
        <li class="navigation__item"><a href="./vacancies.html">последние вакансии</a></li>
      </ul>
    </div>
  </header>
  <section class="hero">
    <div class="container hero__container">
      <h1 class="hero__title">Frontend-разработчик</h1>
      <p class="hero__descr">Специалист по разработке пользовательских интерфейсов</p>
    </div>
  </section>
  <section class="about">
    <div class="container about__container">
      <h2 class="about__title">Шаги изучения профессии frontend-разработчика</h2>
      <div class="about__steps steps">
        <ul class="steps__list list-reset flex">
          <li class="steps__item"><button class="btn-reset steps__href steps__href--active" data-path="one">1
              шаг</button></li>
          <li class="steps__item"><button class="btn-reset steps__href" data-path="two">2 шаг</button></li>
          <li class="steps__item"><button class="btn-reset steps__href" data-path="three">3 шаг</button></li>
          <li class="steps__item"><button class="btn-reset steps__href" data-path="four">4 шаг</button></li>
          <li class="steps__item"><button class="btn-reset steps__href" data-path="five">5 шаг</button></li>
        </ul>
      </div>
      <ul class="about__list list-reset flex about__list--active" data-target="one">
        <li class="about__item left">
          <h3 class="left__title">Чем занимается?</h3>
          <p class="left__descr">Фронт-энд разработчик&nbsp;&mdash; это верстальщик и&nbsp;программист в&nbsp;одном
            лице, герой стиля и&nbsp;кода, создающий пользовательский интерфейс. Главная задача фронт-энд
            разработчика&nbsp;&mdash; перевести дизайн-макет в&nbsp;легко читаемый и&nbsp;расширяемый код, сделать так,
            чтобы всё на&nbsp;сайте или в&nbsp;веб-приложении работало быстро и&nbsp;удобно для пользователя. Слово
            &laquo;фронт&raquo; в&nbsp;названии профессии говорит о&nbsp;том, что фронт-энд разработчик находится
            на&nbsp;передовой линии с&nbsp;конечным пользователем и&nbsp;отвечает за&nbsp;внешний функционал приложения,
            с&nbsp;которым контактирует пользователь. А&nbsp;за&nbsp;серверную часть отвечает программист другой
            профессии, его называют Backend-разработчик</p>
        </li>
        <li class="about__item right right-one"></li>
      </ul>
      <ul class="about__list list-reset flex" data-target="two">
        <li class="about__item left">
          <h3 class="left__title">Обязанности</h3>
          <p class="left__descr">
          <p class="left_paragraph">создание HTML-страницы сайта на&nbsp;основе дизайн-макетов, то&nbsp;есть верстка с
            использованием HTML и&nbsp;CSS на&nbsp;основе дизайна/дизайн-макетов;</p>
          <p class="left_paragraph">
            привязка к&nbsp;пользовательскому интерфейсу скриптов, которые обеспечивают визуализацию и&nbsp;анимацию
            страниц сайта;</p>
          <p class="left_paragraph">
            обеспечение необходимого уровня пользовательского интерфейса (UI&nbsp;&mdash; User Interface) и&nbsp;опыта
            взаимодействия (UX&nbsp;&mdash; User Experience);</p>
          <p class="left_paragraph">
            разработка одностраничных приложений (single page application) на&nbsp;популярных библиотеках: React,
            Angular или Vue.js.</p>
        </li>
        <li class="about__item right right-two"></li>
      </ul>
      <ul class="about__list list-reset flex" data-target="three">
        <li class="about__item left">
          <h3 class="left__title">Плюсы и минусы профессии</h3>
          <p class="left__descr">
          <h4>Плюсы</h4>
          <p class="left_paragraph">Высокая востребованность. Спрос на&nbsp;специалистов данного направления был, есть
            и&nbsp;будет еще в&nbsp;обозримом будущем.</p>
          <p class="left_paragraph">Бесперервывное обучение. Всегда существуют дороги для саморазвития в&nbsp;данной
            професии</p>
          <p class="left_paragraph">Можно сказать, что это полноценный разработчик сайта, ведь часть функциональности
            можно реализовать без backend-разработчика, есть специальные сайты, которые позволяют сохранять информацию
            на&nbsp;сервере без программирования.</p>
          <h4>Минусы</h4>
          <p class="left_paragraph">В&nbsp;этой профессии нечетко определены должностные обязанности,
            и&nbsp;не&nbsp;каждый руководитель понимает, что именно должен делать фронт-энд разработчик.</p>
          <p class="left_paragraph">Взаимодействие с&nbsp;большим количеством людей: бэк-энд разработчиками,
            пользователями, дизайнерами, тестировщиками, аналитиками&nbsp;&mdash; и&nbsp;постоянное участие
            в&nbsp;командных обсуждениях может быть напряженным и&nbsp;неэффективным.</p>
          </p>
        </li>
        <li class="about__item right right-three"></li>
      </ul>
      <ul class="about__list list-reset flex" data-target="four">
        <li class="about__item left">
          <h3 class="left__title">Важные качества</h3>
          <p class="left__descr"></p>
        </li>
        <li class="about__item right right-four"></li>
      </ul>
      <ul class="about__list list-reset flex" data-target="five">
        <li class="about__item left">
          <h3 class="left__title">Карьера</h3>
          <p class="left__descr"></p>
        </li>
        <li class="about__item right right-five"></li>
      </ul>
    </div>
  </section>
  <script href="../static/js/information.js"></script>
</body>

</html>
